<section class="content conteudo2">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Administração</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" [routerLink]="['/administracao/campeonato']">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" [routerLink]="['/administracao/campeonato']">Campeonato</a>
                        </li>
                        <li class="breadcrumb-item active">Finalizar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin-top: 140px;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2 *ngIf="campeonato">Finalizar {{campeonato.nome}}</h2>
                    </div>
                    <div class="body">
                        <form class="form-form m-4" [formGroup]="form" (ngSubmit)="cadastrar()">
                            <div class="row">
                                <div *ngIf="campeonato"  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Campeão</mat-label>
                                        <mat-select formControlName="campeao" required>
                                            <mat-option *ngFor="let camp of campeonato.times" [value]="camp.id">
                                                {{camp.nome}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error *ngIf="form.get('campeao').hasError('required')">
                                            Campeão é um campo obrigatório!
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Vice</mat-label>
                                        <mat-select formControlName="vice" required>
                                            <mat-option *ngFor="let camp of campeonato.times" [value]="camp.id">
                                                {{camp.nome}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error *ngIf="form.get('vice').hasError('required')">
                                            Vice é um campo obrigatório!
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Terceiro</mat-label>
                                        <mat-select formControlName="terceiro" required>
                                            <mat-option *ngFor="let camp of campeonato.times" [value]="camp.id">
                                                {{camp.nome}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error *ngIf="form.get('vice').hasError('required')">
                                            Terceiro é um campo obrigatório!
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Quarto</mat-label>
                                        <mat-select formControlName="quarto" required>
                                            <mat-option *ngFor="let camp of campeonato.times" [value]="camp.id">
                                                {{camp.nome}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error *ngIf="form.get('vice').hasError('required')">
                                            Quarto é um campo obrigatório!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button type="submit" mat-button mat-raised-button color="primary"  class="mr-3" [disabled]="!form.valid">Salvar</button>
                                    <button [routerLink]="['/administracao/campeonato']"  type="button" mat-button>Voltar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>