<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <div class="auth-content p-4 d-flex align-items-center min-vh-100">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 animate__animated animate__bounceInLeft">
                            <div>
                                <div class="text-center">
                                    <div>
                                        <a routerLink="" class="logo-full"><img src="assets/images/logo-bolao.png"
                                                alt="logo-full"></a>
                                    </div>

                                    <h4 class="font-20 mt-4">Seja Bem Vindo!</h4>
                                    <p class="text-muted">Faça login para continuar.</p>
                                </div>

                                <div class="p-2 mt-5">
                                    <form [formGroup]="formulario" (ngSubmit)="login()">
                                        <div *ngIf="error" class="alert alert-danger mb-3 mt-0">Usuário ou senha
                                            inválidos!</div>
                                        <div class="form-group auth-form-group mb-4">
                                            <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                                            <input type="email" formControlName="email"
                                                class="form-control auth-control" id="email" placeholder="Email"
                                                [ngClass]="{ 'is-invalid': f.email.errors && submit}">
                                            <div *ngIf="f.email.errors && submit" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email é um campo obrigatório!</div>
                                                <div *ngIf="f.email.errors.email">Email inválido!</div>
                                            </div>
                                        </div>

                                        <div class="form-group auth-form-group mb-4">
                                            <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                                            <input type="password" formControlName="senha"
                                                class="form-control auth-control" id="password"
                                                [ngClass]="{ 'is-invalid': f.senha.errors && submit}" placeholder="senha" />
                                            <div *ngIf="f.senha.errors && submit" class="invalid-feedback">
                                                <div *ngIf="f.senha.errors.required">Senha é um campo obrigatório!</div>
                                            </div>
                                        </div>

                                        <div class="container-login100-form-btn">
                                            <button mat-flat-button color="primary" class="login100-form-btn" [class.spinner]="loading" [disabled]="loading" type="submit">
                                                Entrar
                                            </button>
                                        </div>

                                    </form>
                                </div>

                                <div class="mt-5 text-center">
                                    <p>Ainda não tem uma conta? <a routerLink="/authentication/registro" class="font-weight-medium text-primary">Registre agora! </a> </p>
                                    <ul class="list-unstyled social-icon mb-0 mt-3">
                                        <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                                                <i class="fab fa-google"></i>
                                            </a></li>
                                        <li class="list-inline-item m-2"><a href="javascript:void(0)"
                                                class="rounded flex-c-m">
                                                <i class="fab fa-facebook-f"></i>
                                            </a></li>
                                        <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                                                <i class="fab fa-twitter"></i>
                                            </a></li>
                                        <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="auth-bg">
                <div class="bg-overlay"></div>
            </div>
        </div>
    </div>
</div>