<section class="content conteudo2">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Times</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/time">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="mb-5">
                    <h3 class="text-white" style="margin-top: 50px;"> Times</h3>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Filtrar</strong> Times
                                </h2>
                                <div class="d-flex flex-row-reverse">
                                    <button [routerLink]="['novo']"  mat-mini-fab color="primary" aria-label ="Adicionar time">
                                        <mat-icon>add_circle_outline</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="body table-responsive">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)"
                                        placeholder="Ex. Brasil">
                                </mat-form-field>
                                <table mat-table [dataSource]="dataSource" class="w-100 mat-elevation-z8">
                                    <!-- No Column -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef> ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actionsColumn">
                                        <th mat-header-cell *matHeaderCellDef>Ações </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <button [routerLink]="['editar',element.id]" class="mr-2"   mat-mini-fab color="primary" >
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
   
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>